<!-- $Id$ -->
{include file="header.html"}
{box title="Device Info"}
<h1>
    <a class="btn btn btn-dark" href="?m=mydevicesettings">&larr; {trans("back to device list")}</a> &nbsp; MAC: <span class="badge badge-light">{$mac}</span>
</h1>
<div class="card-columns">
    {if is_array($device_info)}
        <div class="card">
            <div class="card-header">
                <form method="POST" action="?m=mydevicesettings&f=submit" name="deviceInfoRefresh">
                    <input type="hidden" name="mac" value="{$mac}">
                    <input type="hidden" name="device_id" value="{$device_id}">
                    <input type="hidden" name="action" value="deviceInfoRefresh">
                    {trans("Device info")} <button class="btn btn-secondary btn-sm" name="deviceInfoRefresh" type="submit" data-toggle="tooltip" data-placement="top" title="{trans("Force data refresh")}"><i class="fas fa-sync"></i></button>
                </form>
            </div>
            <div class="card-body">
                <ul>
                    <li>{trans("ID")}: <mark>{$device_info[0]['_id']}</mark></li>
                    <li>{trans("Hardware version")}: <mark>{$device_info[0]['InternetGatewayDevice']['DeviceInfo']['HardwareVersion']['_value']}</mark></li>
                    <li>{trans("Provisioning code")}: <mark>{$device_info[0]['InternetGatewayDevice']['DeviceInfo']['ProvisioningCode']['_value']}</mark></li>
                    <li>{trans("Software version")}: <mark>{$device_info[0]['InternetGatewayDevice']['DeviceInfo']['SoftwareVersion']['_value']}</mark></li>
                    <li>{trans("Spec version")}: <mark>{$device_info[0]['InternetGatewayDevice']['DeviceInfo']['SpecVersion']['_value']}</mark></li>
                    <li>{trans("CPU usage")}: <mark>{$device_info[0]['InternetGatewayDevice']['DeviceInfo']['ProcessStatus']['CPUUsage']['_value']} %</mark></li>
                </ul>
            </div>
        </div>
    {/if}

    {if is_array($events)}
        <div class="card">
            <div class="card-header">
                {trans("Events")}
            </div>
            <div class="card-body">
                <ul>
                    <li>{trans("Uptime")}: <mark>{{$events['_uptime']}|date_format:"%k godzin, %M minut, %S sekund"}</mark></li>
                    <li>{trans("Boot time")}: <mark>{{$events['_lastBoot']}|date_format:"%Y-%m-%d, %T"}</mark></li>
                    <li>{trans("Registration time")}: <mark>{{$events['_registered']}|date_format:"%Y-%m-%d, %T"}</mark></li>
                </ul>
            </div>
        </div>
    {/if}

    {if is_array($tags)}
        <div class="card">
            <div class="card-header">
                {trans("Tags")}
            </div>
            <div class="card-body">
                {foreach $tags as $tag}
                    <span class="badge badge-primary">{$tag}</span>
                {/foreach}
            </div>
        </div>
    {/if}

    {foreach $WANDeviceInfo as $item}
        <div class="card">
            <div class="card-header">
                <form method="POST" action="?m=mydevicesettings&f=submit" name="wanInfoRefresh">
                    <input type="hidden" name="mac" value="{$mac}">
                    <input type="hidden" name="device_id" value="{$device_id}">
                    <input type="hidden" name="action" value="wanInfoRefresh">
                    {trans("WAN information")} <button class="btn btn-secondary btn-sm" name="wanInfoRefresh" type="submit" data-toggle="tooltip" data-placement="top" title="{trans("Force data refresh")}"><i class="fas fa-sync"></i></button>
                </form>
            </div>
            <div class="card-body">
                <ul>
                    <li>{trans("External IP address")}: <mark>{$item.ExternalIPAddress._value}</mark></li>
                    <li>{trans("Addressing type")}: <mark>{$item.AddressingType._value}</mark></li>
                    <li>{trans("DNS servers")}: <mark>{$item.DNSServers._value}</mark></li>
                    <li>{trans("Default gateway")}: <mark>{$item.DefaultGateway._value}</mark></li>
                    <li>{trans("Last connection error")}: <mark>{$item.LastConnectionError._value}</mark></li>
                    <li>{trans("MAC address")}: <mark>{$item.MACAddress._value}</mark></li>
                    <li>{trans("Connection uptime")}: <mark>{{$item.Uptime._value}|date_format:"%k godzin, %M minut, %S sekund"}</mark></li>
                    <li>{trans("Ping enabled")}: <mark>{({$item.X_DLINK_PingEnabled._value}) ? 'TAK' : 'NIE'}</mark></li>
                    <li>{trans("IGMP enabled")}: <mark>{({$item.X_DLINK_IGMPEnabled._value}) ? 'TAK' : 'NIE'}</mark></li>
                </ul>
            </div>
        </div>
    {/foreach}

    {foreach $WANDeviceStats as $item}
        <div class="card">
            <div class="card-header">
                <form method="POST" action="?m=mydevicesettings&f=submit" name="wanStatsRefresh">
                    <input type="hidden" name="mac" value="{$mac}">
                    <input type="hidden" name="device_id" value="{$device_id}">
                    <input type="hidden" name="action" value="wanStatsRefresh">
                    {trans("WAN statistics")} <button class="btn btn-secondary btn-sm" name="wanStatsRefresh" type="submit" data-toggle="tooltip" data-placement="top" title="{trans("Force data refresh")}"><i class="fas fa-sync"></i></button>
                </form>
            </div>
            <div class="card-body">
                <ul>
                    <li>{trans("Total bytes received")}: <mark>{if $item.TotalBytesReceived._value}{math|string_format:"%.2f" equation="size / 1024 / 1024" size=$item.TotalBytesReceived._value} MB</mark>{/if}</li>
                    <li>{trans("Total bytes sent")}: <mark>{if $item.TotalBytesSent._value}{math|string_format:"%.2f" equation="size / 1024 / 1024" size=$item.TotalBytesSent._value} MB</mark>{/if}</li>
                    <li>{trans("Total packets received")}: <mark>{$item.TotalPacketsReceived._value}</mark></li>
                    <li>{trans("Total packets sent")}: <mark>{$item.TotalPacketsSent._value}</mark></li>
                    <li>{trans("WAN access type")}: <mark>{$item.WANAccessType._value}</mark></li>
                </ul>
            </div>
        </div>
    {/foreach}
</div>
{/box}
{include file="footer.html"}
